*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: rgb(148,163,233);
    background: radial-gradient(circle, rgba(148,163,233,1) 50%, rgba(37,24,32,1) 84%);
}
.ejemplo1{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed blue;
    display: flex;
    flex-direction: row;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: blue;

}
.ejemplo2{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed yellow;
    display: flex;
    flex-direction:row-reverse;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: yellow;

}
.ejemplo3{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed green;
    display: flex;
    flex-direction:column;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: green;

}
.ejemplo4{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed orange;
    display: flex;
    flex-direction:column-reverse;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: orange;

}
.ejemplo5{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed red;
    display: flex;
    flex-wrap: nowrap;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo6{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed pink;
    display: flex;
    flex-wrap: wrap;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo7{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    flex-wrap: wrap-reverse;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo8{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    flex-flow:column-reverse wrap;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo9{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content: flex-start;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo10{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content: flex-end;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo11{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content: center;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo12{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content:space-between;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo13{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content: space-around;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo14{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content: space-evenly;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo15{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    align-items: stretch;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo16{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    align-items: center;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo17{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    align-items: start;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo18{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    align-items: end;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo19{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    align-items: baseline;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}
.ejemplo20{
    width:500px;
    height: 500px;
    background: whitesmoke;
    margin:50px auto;
    border:2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja{
    width:100px;
    height:100px;
margin:10px;
background: red;

}